@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

.heading-main {
    font-size: 5rem;
    color: var(--light-blue);
}

.sub-heading {
    font-size: 3rem;
    display: inline-block;
    color: var(--light-blue);
}

.sub-heading-small {
    font-size: 2rem;
    display: inline-block;
}

.btn-underline {
    position: relative;
}

.btn-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--light-blue);
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}

.btn-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

html {
    font-size: 62.5%;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p {
    font-size: 1.6rem;
}

#sample {
    height: 100vh;
}

:root {
    --blue: #005599;
    --blue-dark: #01325a;
    --white: #fff;
    --light-blue: #2266a1;
    --blue-footer : #005096;
}

/* Logo */
#logo {
    padding: 1rem 0;
    -webkit-box-shadow: 0px 2px 23px -10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 2px 23px -10px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 23px -10px rgba(0, 0, 0, 0.15);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    width: 160px;
}

.logo-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    padding: 0 2rem;
}

.logo-right h1 {
    font-size: 3rem;
    font-weight: 700;
}

.logo-right h2 {
    font-size: 1.6rem;
}

.logo-right h1 span {
    font-size: 1.3rem;
}

/* Logo End */

/* Navbar */
#navbar {
    width: 100%;
    -webkit-box-shadow: 0px 2px 23px -10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 23px -10px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 23px -10px rgba(0, 0, 0, 0.25);
    transition: all .3s ease;
    /* Sticky code  */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: var(--white);
}

#navbar.is-active {
    background-color: var(--blue);
    color: var(--white);

    .hambar {
        background-color: var(--white);
        ;
    }
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.nav ul li {
    position: relative;
    background-color: var(--blue);
    padding: 1rem 1rem;
    cursor: pointer;
    margin: 1rem 0.5rem;
}

.nav ul li::after {
    content: "";
    width: 100%;
    height: 0%;
    background-color: var(--blue-dark);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .3s ease;
    z-index: 1;
}

.nav ul li:hover::after {
    height: 100%;
}

.nav ul li a {
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--white);
    transition: all .3s ease;
    position: relative;
    z-index: 2;
}

.hamburger {
    cursor: pointer;
}

.hamburger .hambar {
    width: 37px;
    height: 4px;
    background-color: var(--blue-dark);
    display: block;
    margin: 8px auto;
    transition: all 0.3s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    border-radius: 1rem;
}

#hamburger-1.is-active .hambar:nth-child(2) {
    opacity: 0;
}

#hamburger-1.is-active .hambar:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}

#hamburger-1.is-active .hambar:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
}

.mobile-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}

#navbar.is-active .nav {
    height: min-content;
}

/* Navbar  End*/

/* Swiper */

#swipe {
    width: 100%;
    height: 110vh;
    overflow: hidden;
}

.swiper-container {
    width: 100%;
    height: 90%;
    user-select: none;
}

.swiper-slide {
    width: 100%;
    position: relative;
}
/* .swiper-slide-text:hover {
    opacity: 0;
} */
.swiper-slide-text {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 4rem 2rem;
    transition: all .3s ease;
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 0) 70%, var(--light-blue) 100%);

    h1 {
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center;
        color: var(--white);
    }
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    max-inline-size: 100%;
}

.swiper-pagination {
    width: 100%;
    margin-top: 2rem;
    bottom: auto !important;
}

/* Swiper End */

/* announcements */
#announcements {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 6rem 6rem;
}

.announcements-text {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 3rem 0;
}

.announcements-text a {
    color: var(--blue-dark);
    font-weight: 500;
}

.announcements-text li {
    list-style: none;
    padding: 1.5rem 1rem;
    transition: all .3s ease;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.announcements {
    width: 40%;
}

.announcements-text li .btn-underline::after {
    background-color: #fff;
    border-radius: 1rem;
    height: 2px;
}

.announcements-text li i {
    transform: rotate(-90deg);
    font-size: 2rem;
    margin-right: 1.5rem;
    transition: all .3s ease;
    color: var(--blue-dark);
}

.announcements-text li:hover i {
    transform: rotate(-135deg);
    color: var(--blue);
}

.announcements-text li:hover {
    background-color: var(--light-blue);

    a {
        color: #fff;
    }

    i {
        color: var(--white);
    }
}

.quick-links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    background-color: rgb(255, 159, 159);
}

.quick-links-button {
    width: 100%;
    text-align: center;
    background-color: var(--blue-dark);
    color: var(--white);
    font-size: 2.5rem;
    font-weight: 400;
    padding: 1.5rem 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quick-links-grid {
    display: flex;
    width: 100%;
    display: none;
}

.quick-links-hamburger i {
    transform: rotate(180deg);
    transition: all .3s ease;
}

.quick-links.is-active {
    .quick-links-grid {
        display: flex;
    }

    .quick-links-hamburger i {
        transform: rotate(0deg);
    }
}

.quick-links-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 100%;
    flex-wrap: wrap;
    background-color: var(--light-blue);
}

.quick-links-ul li {
    width: auto;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    flex-wrap: wrap;
    position: relative;
    user-select: none;
}

.quick-links-ul li a {
    color: #fff;
    font-size: 1.8rem;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

.quick-links-ul li a i {
    margin-right: 1.5rem;
    font-size: 2rem;
}

.quick-links-ul li:hover {
    background-color: var(--blue-dark);
}

.quick-links-arrow i {
    font-size: 2rem;
    transform: rotate(-180deg);
    margin-left: 1.5rem;
    color: #fff;
    transition: all .3s ease;
}

.quick-links-li.active-li {
    background-color: var(--blue-dark);

    .quick-links-submenu {
        display: block;
    }

    .quick-links-arrow i {
        transform: rotate(0deg);
    }
}

.quick-links-submenu {
    width: 100%;
    padding-top: 1.5rem;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--blue-dark);
    z-index: 2;
}

.quick-links-submenu-li i {
    transform: rotate(90deg);
}

.quick-links-hamburger i {
    color: #fff;
}

.news marquee {
    margin-top: 3rem;
    height: 30vh;
}

.news .sub-heading-small {
    font-weight: 500;
    cursor: pointer;
}

.news {
    width: 40%;
}

.news .sub-heading-small:hover {
    color: var(--white);
}

.news li:hover i {
    transform: rotate(-90deg) translateY(10px);
}

/* announcements End */
/* Header Marquee */
#header-marquee {
    width: 100%;
    background-color: #fff;
    padding: 1.5rem 0;
}

#header-marquee marquee {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header-marquee marquee a {
    color: var(--blue-dark);
    text-decoration: none;
    font-weight: 600;
    font-size: 2rem;
}
/* Header Marquee End */
/* Welcome */
#welcome{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 6rem 6rem;
}

#welcome h1{
    margin-bottom: 1rem;
}
#welcome li{
    margin: 1rem 0;
    margin-left: 1.5rem;
    font-size: 2rem;
    color: var(--blue-dark);
}
#welcome .sub-heading{
    margin-top: 3rem;
}

/* Welcome End */

/* Footer */
/*wave and animation*/
footer {
    position: relative;
    width: 100%;
    background: var(--blue-footer);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
  }
footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(./imgs/wave.png);
    background-size: 1000px 100px;
  }
  
  footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
  }
  
  footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
  }
  footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 0;
    animation: animateWave 3s linear infinite;
  }
  
  footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
  }
  
  @keyframes animateWave {
    0%{
      background-position-x: 1000px; 
    }
    100%{
      background-position-x: 0px; 
    }
  }
  
  @keyframes animateWave_02 {
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: 1000px; 
    }
  }
  
/* Footer End */
/* Media Query */

@media screen and (max-width:1200px) {
    .quick-links-ul li a {
        font-size: 1.6rem;
    }
}

@media screen and (max-width:1100px) {
    .logo-right h1 {
        font-size: 2.2rem;
    }

    .logo-right h3 {
        font-size: 1.3rem;
    }

    .logo-right h2 {
        font-size: 1.3rem;
    }

    #swipe {
        height: 50vh;
    }

    .swiper-slide {
        width: 100%;
    }
}

@media screen and (max-width:1000px) {
    .sub-heading-small {
        font-size: 1.6rem;
    }

    .heading-main {
        font-size: 4rem;
    }

    .quick-links-button {
        font-size: 2rem;
        font-weight: 500;
    }

    .quick-links {
        min-width: 265px;
    }
}

@media screen and (max-width:900px) {
    #navbar {
        flex-direction: column;
        padding: 1.5rem;
    }

    .mobile-nav {
        display: flex;
    }

    .nav {
        height: 0;
        overflow: hidden;
        transition: all .3s ease;
    }

    .nav ul li {
        width: 43%;
        background-color: none;
        border-bottom: 1px solid #fff;
        text-align: center;
    }

    #announcements {
        padding: 6rem 3rem;
        flex-direction: column;
    }
    #welcome{
        padding: 6rem 3rem;
    }
}

@media screen and (max-width:800px) {
    .announcements-text {
        flex-direction: column;
        justify-content: center;
    }

    .announcements {
        width: 100%;
    }

    .news {
        width: 100%;
        margin-top: 5rem;
    }
    .swiper-slide-text { 
        padding: 1.5rem 2rem;
        h1 {
            font-size: 1.7rem;
        }
    }
    .sub-heading {
        font-size: 2.2rem;
    }
    #welcome li {
        margin-left: 0;
        font-size: 1.6rem;
    }    
}

@media screen and (max-width:700px) {
    .logo-img {
        width: 110px;
    }
}

@media screen and (max-width:600px) {
    .logo-right h3, .logo-right h2 {
        display: none;
    }

    .logo-right h1 {
        font-size: 1.6rem;
    }

    .logo-img {
        width: 65px;
        margin-left: 2rem;
    }

    .nav ul li a {
        font-size: 1.6rem;
    }
}

@media screen and (max-width:500px) {
    .nav ul li {
        width: 90%;
    }

    .heading-main {
        font-size: 3rem;
    }
    #welcome {
        padding: 3rem 2rem;
    }

}