@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}
::selection{
    background-color: var(--light-blue);
    color: var(--white);
}
.heading-main-large{
    font-size: 8rem;
    color: var(--light-blue);
}
.heading-main {
    font-size: 5rem;
    color: var(--light-blue);
}

.sub-heading {
    font-size: 3rem;
    display: inline-block;
    color: var(--light-blue);
}

.sub-heading-small {
    font-size: 2rem;
    display: inline-block;
}

.btn-underline {
    position: relative;
}

.btn-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--light-blue);
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}

.btn-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p {
    font-size: 1.6rem;
}

#sample {
    height: 100vh;
}

:root {
    --blue: #005599;
    --blue-dark: #01325a;
    --white: #fff;
    --light-blue: #2266a1;
    --blue-footer: #005096;
    --black: #000;


}

/* Popup */
#popup {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    position: fixed;
    background-color: #0000006e;
    display: flex;
    align-items: center;
    overflow: scroll;
    justify-content: center;
    display: none;
}

.popup-box {
    width: 45vw;
    /* height: 90vh; */
    border-radius: 1rem;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 1rem;
}
.popup-close{
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1rem;
}
.popup-main{
    width: 100%;
    height: 100%;
}
.popup-main img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}


/* Popup End */

html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }
/* Logo */
#logo {
    padding: 1rem 0;
    -webkit-box-shadow: 0px 2px 23px -10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 2px 23px -10px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 23px -10px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    width: 160px;
}

.logo-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    padding: 0 2rem;
}

.logo-right h1 {
    font-size: 3rem;
    font-weight: 700;
}

.logo-right h2 {
    font-size: 1.6rem;
}

.logo-right h1 span {
    font-size: 1.3rem;
}

/* Logo End */

/* Navbar */
#navbar {
    width: 100%;
    -webkit-box-shadow: 0px 2px 23px -10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 23px -10px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 23px -10px rgba(0, 0, 0, 0.25);
    transition: all .3s ease;
    /* Sticky code  */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1001;
    background-color: var(--white);
}

#navbar.is-active {
    background-color: var(--blue);
    color: var(--white);

    .hambar {
        background-color: var(--white);
        ;
    }
}
.nav{
    padding: 1.3rem 0;
}
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    overflow: hidden;
}

.nav ul li {
    cursor: pointer;
    margin: 0.5rem 0.5rem;
}

.nav ul li a::after {
    content: "";
    width: 0%;
    height: 0%;
    background-color: var(--blue-dark);
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: all .3s ease;
    z-index: -1;
    border-radius: 1rem;

}

.nav ul li:hover a::after {
    width: 100%;
    height: 100%;
    left: 0;
}

.nav ul li a {
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--white);
    transition: all .3s ease;
    position: relative;
    z-index: 2;
    padding: 1rem 1rem;
    position: relative;
    background-color: var(--blue);
    display: inline-block;
    border-radius: 1rem;
}

.hamburger {
    cursor: pointer;
}

.hamburger .hambar {
    width: 37px;
    height: 4px;
    background-color: var(--blue-dark);
    display: block;
    margin: 8px auto;
    transition: all 0.3s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    border-radius: 1rem;
}

#hamburger-1.is-active .hambar:nth-child(2) {
    opacity: 0;
}

#hamburger-1.is-active .hambar:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}

#hamburger-1.is-active .hambar:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
}

.mobile-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}

#navbar.is-active .nav {
    display: inherit;
}

/* Navbar  End*/

/* announcements */
#announcements {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
    padding: 6rem 6rem;
}

.announcements-text {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 3rem 0;
}

.announcements-text a {
    color: var(--blue-dark);
    font-weight: 500;
}

.announcements-text li {
    list-style: none;
    padding: 1.5rem 1rem;
    transition: all .3s ease;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.announcements {
    width: 40%;
}

.announcements-text li .btn-underline::after {
    background-color: #fff;
    border-radius: 1rem;
    height: 2px;
}

.announcements-text li i {
    transform: rotate(-90deg);
    font-size: 2rem;
    margin-right: 1.5rem;
    transition: all .3s ease;
    color: var(--blue-dark);
}

.announcements-text li:hover i {
    transform: rotate(-135deg);
    color: var(--blue);
}

.announcements-text li:hover {
    background-color: var(--light-blue);

    a {
        color: #fff;
    }

    i {
        color: var(--white);
    }
}

.quick-links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    background-color: rgb(255, 159, 159);
}

.quick-links-button {
    width: 100%;
    text-align: center;
    background-color: var(--blue-dark);
    color: var(--white);
    font-size: 2.5rem;
    font-weight: 400;
    padding: 1.5rem 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quick-links-grid {
    display: flex;
    width: 100%;
    display: none;
}

.quick-links-hamburger i {
    transform: rotate(180deg);
    transition: all .3s ease;
}

.quick-links.is-active {
    .quick-links-grid {
        display: flex;
    }

    .quick-links-hamburger i {
        transform: rotate(0deg);
    }
}

.quick-links-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 100%;
    flex-wrap: wrap;
    background-color: var(--light-blue);
}

.quick-links-ul li {
    width: auto;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    flex-wrap: wrap;
    position: relative;
    user-select: none;
}

.quick-links-ul li a {
    color: #fff;
    font-size: 1.8rem;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

.quick-links-ul li a i {
    margin-right: 1.5rem;
    font-size: 2rem;
}

.quick-links-ul li:hover {
    background-color: var(--blue-dark);
}

.quick-links-arrow i {
    font-size: 2rem;
    transform: rotate(-180deg);
    margin-left: 1.5rem;
    color: #fff;
    transition: all .3s ease;
}

.quick-links-li.active-li {
    background-color: var(--blue-dark);

    .quick-links-submenu {
        display: block;
    }

    .quick-links-arrow i {
        transform: rotate(0deg);
    }
}

.quick-links-submenu {
    width: 100%;
    padding-top: 1.5rem;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--blue-dark);
    z-index: 2;
}

.quick-links-submenu-li i {
    transform: rotate(90deg);
}

.quick-links-hamburger i {
    color: #fff;
}

.news marquee {
    margin-top: 3rem;
    height: 30vh;
}

.news .sub-heading-small {
    font-weight: 500;
    cursor: pointer;
}

.news {
    width: 40%;
}

.news .sub-heading-small:hover {
    color: var(--white);
}

.news li:hover i {
    transform: rotate(-90deg) translateY(10px);
}

/* announcements End */
/* Header Marquee */
#header-marquee {
    width: 100%;
    background-color: #fff;
    padding: 1.5rem 0;
}

#header-marquee marquee {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-marquee marquee a {
    color: var(--blue-dark);
    text-decoration: none;
    font-weight: 600;
    font-size: 2rem;
}

/* Header Marquee End */
/* Welcome */
#welcome {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 6rem 6rem;
    overflow: hidden;
}

#welcome h1 {
    margin-bottom: 1rem;
}

#welcome li {
    margin: 1rem 0;
    margin-left: 1.5rem;
    font-size: 2rem;
    color: var(--blue-dark);
}

#welcome .sub-heading {
    margin-top: 3rem;
}

/* Welcome End */

/* Footer */
/*wave and animation*/
footer {
    position: relative;
    width: 100%;
    background: var(--blue-footer);
    min-height: 100px;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(./imgs/wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
    z-index: 200;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 201;
    opacity: 0.2;
    bottom: 0;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

#footer {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-hr {
    width: 100%;
    outline: none;
    border: none;
    border: 1px solid var(--light-blue);
    margin: 6rem 0;
}

.icons-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.i-box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    width: 40vw;
}

.i-box i {
    font-size: 3rem;
}

.i-box-right {
    text-align: left;
    margin-left: 2rem;
}

.i-box-right h6 {
    font-size: 1.9rem;
    font-weight: 600;
}

.i-box-right a {
    color: var(--white);
}

.footer {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left {
    width: 30%;
    text-align: center;
    flex-direction: column;
}

.footer-logo {
    width: 100px;
    height: 100px;
}

.footer-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: saturate(0);
}

.footer-left p {
    color: var(--white);
}

.footer-mid {
    width: 30%;
    flex-direction: column;
    color: var(--white);
}

.footer h5 {
    font-size: 1.9rem;
    font-weight: 600;
}

.footer-mid-box {
    display: flex;
    margin-top: 1.5rem;
}

.footer-mid-box a i {
    font-size: 2.5rem;
    margin: 0 1rem;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: 1px solid var(--white);
    color: var(--white);
    transition: all .3s ease;
}

.footer-mid-box a:hover i {
    background-color: var(--white);
    color: var(--blue-footer);
}

.footer-right {
    width: 30%;
    text-align: center;
    color: var(--white);
}

.footer-right ul {
    list-style: none;
}

.footer-right ul li {
    font-size: 1.6rem;
    margin: 1rem 0;

    .btn-underline::after {
        background-color: var(--white);
        height: 2px;
    }
}

.footer-right ul li a {
    color: var(--white);
    display: inline-block;
}

.footer-maintainer {
    text-align: center;
    width: 100%;
    color: var(--white);
    padding: 1.5rem 3rem;
    background-color: var(--light-blue);
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

/* Footer End */
/* About Us  */
#aboutus{
    padding: 6rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: var(--blue-dark); */
}
.aboutus-header{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 90%;
    gap: 2rem;
    /* .heading-main , .sub-heading , p{
        color: var(--white);
    } */
}
.aboutus-header p{
    font-size: 2rem;
    color: var(--blue-dark);
    b{
        font-weight: 600;
    }
}
.aboutus{
    margin-top: 5rem;
    width: 90%;
}

.aboutus-flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.aboutus-box{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 3rem 2rem;
    border-radius:1rem;
    color: #fff;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: inset 8px 8px 8px #89c1f3, inset -8px -8px 8px #95c0eb;
    padding: 1rem;
}
.aboutus-box-desc{
    text-align: center;
    padding: 1rem;
    width: 200px;
    display: grid;
    place-items: center;
    transition: all .3s ease;
    color: var(--blue-dark);
}
.aboutus-box:hover .aboutus-box-desc{
    border-radius:30px 0px 30px 0px;
}

.aboutus-img img{
    width: 80%;
    height: 80%;
    object-fit: cover;
    transition: all .6s ease;
    border-radius: 2rem 2rem 0 0;
}
.aboutus-box:hover .aboutus-img img{
    transform: scale(1.1);
}
.aboutus-img{
    width: 200px;
    height: 250px;
    border-radius: 2rem 2rem 0 0;
    display: grid;
    place-items: center;
    /* overflow: hidden; */
    border-radius:1rem; 
}
.aboutus-box-desc h1{
    font-size: 2rem;
    font-weight: 600;
}
.aboutus-box-desc h2{
    font-size: 1.6rem;
    font-weight: 400;
}
.aboutus .heading-main-large{
    margin-bottom: 5rem ;
}

/* About Us End */
/* Principal */
#principal{
    width: 100%;
    padding: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.poster-img{
    width: 800px;
    margin: 4rem 0;
    background-size: cover;
    position: relative;
    cursor: pointer;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    		clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.poster-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pricipal-desc{
    text-align: center;
    width: 600px;
}
.pricipal-desc h3{
    font-size: 1.9rem;
    color: var(--blue-dark);
}
.pricipal-desc p{
    margin-top: 5rem;
    font-size: 1.8rem;
    span{
        font-size: 2.2rem;
        font-weight: 600;
    }
}
/* Principal End */
/* Programmes */
#programmes{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5rem 0;
}
.programmes-header{
    width: 90%;
}
.programmes{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;    
    margin-top: 4rem;
}
.programmes-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebf2fa;
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem ;
    border: 2px solid var(--blue-footer);
    cursor: pointer;
    transition: all .3s ease;
    border-radius: 0 5rem 0 5rem;
    position: relative;
    overflow: hidden;
}

.programmes-box:hover{
    transform: scale(1.07) translateY(-20px);
}
.programmes-box::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    background-color: #95c0eb;
    z-index: -1;
    border-radius: 0 4.7rem 0 4.7rem;
    transition: all .3s ease;
}

.programmes-box:hover::after{
    bottom: 0;
}


.programmes-text{
    margin-left: 1rem;
    width: 260px;
    display: grid;
    place-items: center;
    text-align: center;
}
.programmes-text h3{
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--blue-dark);
    transform: translateZ(10px);
    transform-style: preserve-3d;

}
.programmes-img{
    width: 70px;
    height: 70px;
    transform: translateZ(10px);
    transform-style: preserve-3d;
}
.programmes-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.programme-wrapper{
    transform-style: preserve-3d;
}
/* Programmes End */
/* Admission  */
#admission{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 6rem 0;
}
.admission-header{
    width: 90%;
}
.admission-bar{
    width: 90%;
    margin: 4rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.admission-box{
    padding: 1rem 1.5rem;
    background-color: var(--light-blue);
    color: var(--white);
    margin: 0 1rem;
    cursor: pointer;
    transition: all .3s ease;
}
.admission-box:hover , .admission-box.is-active{
    background-color: var(--blue-dark);
}
.admission-box h2{
    font-size: 1.9rem;
    font-weight: 500;
}
.admission{
    width: 90%;
    margin-top: 7rem;
}
.admission-table{
    width: 100%;
    margin-top: 2rem;
}
.a-table{
    width: 100%;
}
.a-table thead{
    background-color: var(--light-blue);
}
.a-table th{
    color: var(--white);
    font-size: 1.9rem;
    font-weight: 600;
    padding: 1rem ;
}
.a-table td{
    font-size: 1.7rem;
    padding: 1rem ;
}
.a-table tbody tr:nth-child(even){
    background-color: #e8eff6;
}
.a-heading-2{
    margin-top: 5rem;
}
.coursesOffered{
    display: none;
    margin-bottom: 9rem;
}
.coursesOffered.is-active{
    display: block;
}
.admissionProcedure{
    display: none;
    width: 100%;
    margin-bottom: 9rem;
}
.scholarship{
    display: none;
    width: 100%;
    margin-bottom: 9rem;
}
.admissionProcedure.is-active{
    display: block;
}
.scholarship.is-active{
    display: block;
}
/* Admission End */
/* Gallery */
#gallary{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 6rem 0;
}
.gallary-header{
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2.5rem;
}
.gallary{
    width: 100%;
    margin: 6rem 0;
}
.g-swiper{
    width: 100%;
    height: 65vh;
}
.g-swiper-slide{
    width: 600px;
    min-width: 30vw;
    height: 500px;
    position: relative;
    background-color: #f0f0f0;
  border-radius: 2rem;
  box-shadow: 10px 10px 20px #c7c7c7, 
    -10px -10px 20px #ffffff;
    overflow: hidden;
}
.g-swiper-img{
    width: 100%;
    height: 80%;
    position: relative;
}
.g-swiper-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.g-swiper-content{
   text-align: center;
   display: grid;
   place-items: center;
   width: 100%;
   height: 20%;
   padding: 0 1rem;
}
/* Gallery End */
/* Contact Us */

#contactus {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
}

.form {
  width: 100%;
  max-width: 820px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: var(--light-blue);
  position: relative;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, var(--blue-dark));
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: var(--light-blue);
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.c-title {
  color: var(--white);
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 1.7rem;
}

.input-container {
  position: relative;
  margin: 2rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 1.2rem 1.2rem;
  color: var(--white);
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.5px;
  border-radius: 5px;
  transition: 0.3s;
}

textarea.input {
  padding: 1.2rem 1.2rem;
  min-height: 150px;
  border-radius: 5px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 1.4rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.c-btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 1.95rem;
  color: var(--blue-dark);
  line-height: 1;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
  width: 100%;
}

.c-btn:hover {
  background-color: transparent;
  color: #fff;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 1.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: var(--light-blue);
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 1.5rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .c-title {
  color: var(--blue-footer);
  font-size: 2.5rem;
}

.c-text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
  letter-spacing: 1px;
}

.c-information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 2.5rem;
}

.c-information i {
  color: var(--light-blue);
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, var(--light-blue), var(--blue-dark));
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  display: grid;
  place-items: center;
  font-size: 2rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.ci-circle {
    position: absolute;
    width: 210px;
    height: 200px;
    border: 22px solid var(--blue-dark);
    border-radius: 50%;
    bottom: -127px;
    right: 50px;
    opacity: 0.3;
}

.big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, var(--light-blue), var(--blue-dark));
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fafafa;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}
/* Contact Us End */
/* Library  */
#library{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 6rem 0;
}
.library-header{
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
}
.library{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 90%;
}
.library-collection{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}
.library-collection ul{
    margin-top: 2rem;
    padding-left: 3rem;
}
.library-collection ul li{
    font-size: 2rem;
    margin: 1rem 0;
}
.library-table{
    width: 100%;
    margin-top: 4rem;
    overflow-x: scroll;
}
.library-table .a-table{
    width: 100%;
}
.library-collection .sub-heading-small{
    margin: 2rem 0;
}
.library-facilities{
    margin: 4rem 0;
}
.library-facilities h1{
    margin-bottom: 3rem;
}
.library-facilities p{
    margin-top: 3rem;
    font-size: 2rem;
}
.library-rules{
    margin: 3rem 0;
}
.library-rules h1{
    margin-bottom: 1.5rem;
}
.library-rules ol {
    margin-top: 3rem 0;
    padding-left: 1rem;
}
.library-rules ol li{
    font-size: 1.9rem;
    margin: 1rem 0;
}
.library-img{
    -webkit-clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 65%, 80% 90%, 50% 100%, 20% 90%, 0 65%, 0 35%, 20% 10%);
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 65%, 80% 90%, 50% 100%, 20% 90%, 0 65%, 0 35%, 20% 10%);
}
/* Library End */
/* Alumni  */
#alumni{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 6rem 0;
}
.alumni-header{
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
    text-align: center;
}
.alumni-img{
    width: 300px;
    filter: hue-rotate(-35deg);
    margin: 4rem 0;
}
.alumni-header h2{
    font-size: 3rem;
    color: var(--blue-dark);
}
.alumni-header h3{
    font-size: 2rem;
    font-weight: 500;
    color: var(--light-blue);
}
.alumni-btn{
    padding: 1.5rem 3rem;
    color: var(--white);
    background-color: var(--blue-footer);
    font-size: 2rem;
    margin: 3rem 0;
    font-weight: 500;
    border-radius: 3rem;
    transition: all .3s ease;
}
.alumni-btn:hover{
    background-color: var(--light-blue);
}

.alumni{
    flex-direction: column;
    gap: 4rem;
    overflow: hidden;
}

.a-form{
    max-width: 700px;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    margin: 10px;
    background-color: #ecf0f3;
}

.a-form .title{
    padding: 25px;
}

.a-form .title p{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.a-form .title p::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background: linear-gradient(to right, var(--blue-dark), var(--light-blue));
}

.user_details{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 25px;
}
/* .a-form form{
    background-color: rgb(246, 248, 250);
} */
.user_details .input_box{
    width: calc(100% / 2 - 20px);
    margin: 0 0 12px 0;
}

.input_box label{
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 1.5rem;
    display: block;
}

.input_box label::after{
    content: " *";
    color: red;
}

.input_box input{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 2rem;
    font-size: 16px;
    padding-left: 15px;
    font-family: 'Poppins', sans-serif;
    transition: all .3s ease;
    background: none;
    color: #555;
    box-shadow: inset 8px 8px 8px #cbc3d1, inset -8px -8px 8px #ffffff; 
}

.input_box input:focus,
.input_box input:valid{
    box-shadow: inset 8px 8px 8px #cbc3d1, inset -8px -8px 8px #ffffff; 
}

form .gender{
    padding: 0px 25px;
}

.gender .gender_title{
    font-size: 20px;
    font-weight: 500;
}

.gender .category{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.gender .category label{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.6rem;
}

.gender .category label .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 4px solid transparent;
    transition: all 0.3s ease;
}

#radio_1:checked ~ .category label .one,
#radio_2:checked ~ .category label .two,
#radio_3:checked ~ .category label .three{
    border-color: #d9d9d9;
    background: var(--light-blue);
}

.gender input{
    display: none;
}

.reg_btn{
    padding: 25px;
    margin: 15px 0;
}

.reg_btn input{
    height: 45px;
    width: 100%;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(to right, var(--blue-dark), var(--light-blue));
    border-radius: 5px;
    color: #ffffff;
    letter-spacing: 1px;
    box-shadow: 5px 5px 10px #c7c7c7, 
    -5px -5px 10px #ffffff;
    transition: all .3s ease;
}

.reg_btn input:hover{
    background: linear-gradient(to right, var(--light-blue), var(--blue-dark));
}

@media screen and (max-width: 584px){



    .user_details::-webkit-scrollbar{
        width: 0;
    }

    .user_details .input_box{
        width: 100%;
    }

    .gender .category{
        width: 100%;
    }

}


@media screen and (max-width: 419px){
    .gender .category{
        margin-top: 1rem;
        flex-direction: column;
        gap: 1.2rem;
    }   
}
/* Alumni End */
/* Media Query */


@media screen and (max-width:1200px) {
    .quick-links-ul li a {
        font-size: 1.6rem;
    }

    .i-box {
        width: 33%;
    }

    #footer {
        width: 90%;
    }
}

@media screen and (max-width:1100px) {
    .logo-right h1 {
        font-size: 2.2rem;
    }

    .logo-right h3 {
        font-size: 1.3rem;
    }

    .logo-right h2 {
        font-size: 1.3rem;
    }

    .swiper-slide {
        width: 100%;
    }
    .popup-box {
        width: 75vw;
    }
}

@media screen and (max-width:1000px) {
    .sub-heading-small {
        font-size: 1.6rem;
    }

    .heading-main {
        font-size: 4rem;
    }

    .quick-links-button {
        font-size: 2rem;
        font-weight: 500;
    }

    .quick-links {
        min-width: 265px;
    }
}

@media screen and (max-width:900px) {
    #navbar {
        flex-direction: column;
        padding: 1.5rem;
    }

    .mobile-nav {
        display: flex;
    }

    .nav {
        display: none;
        transition: all .3s ease;
    }

    .nav ul li {
        width: 43%;
        background-color: none;
        border-bottom: 1px solid #fff;
        text-align: center;
        margin: 1rem ;
    }

    #announcements {
        padding: 6rem 3rem;
        flex-direction: column;
    }

    #welcome {
        padding: 6rem 3rem;
    }

    .icons-section {
        flex-wrap: wrap;
        justify-content: center;
    }

    .i-box {
        width: 50%;
        margin: 3rem 0;
    }
    .poster-img {
        width: 600px;
    }
    .form {
        grid-template-columns: 1fr;
      }
    
      .ci-circle {
        bottom: initial;
        top: -75px;
        right: 65px;
        transform: scale(0.95);
      }
    
      .contact-form:before {
        top: -13px;
        left: initial;
        right: 70px;
      }
    
      .square {
        transform: translate(140%, 43%);
        height: 350px;
      }
    
      .big-circle {
        bottom: 75%;
        transform: scale(0.9) translate(-40%, 30%);
        right: 50%;
      }
    
      .text {
        margin: 1rem 0 1.5rem 0;
      }
    
      .social-media {
        padding: 1.5rem 0 0 0;
      }
}

@media screen and (max-width:800px) {
    .announcements-text {
        flex-direction: column;
        justify-content: center;
    }

    .announcements {
        width: 100%;
    }

    .news {
        width: 100%;
        margin-top: 5rem;
    }


    .sub-heading {
        font-size: 2.2rem;
    }

    #welcome li {
        margin-left: 0;
        font-size: 1.6rem;
    }
    .g-swiper{
        height: 55vh;
    }
    .alumni {
        width: 90%;
    }
}

@media screen and (max-width:700px) {
    .logo-img {
        width: 110px;
    }

    .footer {
        justify-content: center;
        align-items: center;
    }

    .footer-left, .footer-mid {
        width: 45%;
    }

    .footer-right {
        margin-top: 5rem;
    }
    .popup-box {
        width: 75vw;
    }
    .pricipal-desc {
        width: 90%;
    }
    .poster-img{
        width: 90%;
    }
    .admission-bar {
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
    }
    .admission-box{
        width: 60%;
    }
    .g-swiper-slide {
        height: 400px;
    }
    .library-collection ul{
        padding-left: 1rem;
    }
    .library-collection ul li {
        font-size: 1.7rem;
    }
    .library-facilities p{
        font-size: 1.7rem;
    }
    .library-rules ol li{
        font-size: 1.6rem;
    }
    .alumni-header h2 {
        font-size: 2.5rem;
    }
    .alumni-header h3{
        font-size: 1.6rem;
        margin-top: 1.5rem;
    }
    .alumni-img {
        width: 230px;
    }
}

@media screen and (max-width:600px) {
    .logo-right h3, .logo-right h2 {
        display: none;
    }

    .logo-right h1 {
        font-size: 1.6rem;
    }

    .logo-img {
        width: 65px;
        margin-left: 2rem;
    }

    .nav ul li a {
        font-size: 1.6rem;
    }
    .programmes-text h3 {
        font-size: 1.9rem;
    }
    .programmes-text {
        width: 200px;
    }
    .programmes-img {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width:500px) {
    .nav ul li {
        width: 90%;
    }
    .nav ul li a{
        width: 100%;
    }

    .heading-main {
        font-size: 3rem;
    }

    #welcome {
        padding: 3rem 2rem;
    }

    .icons-section {
        flex-direction: column;
    }

    .i-box {
        width: 100%;
        margin: 2rem 0;
    }
    .popup-box {
        width: 90vw;
    }

    .footer-right, .footer-left, .footer-mid {
        width: 100%;
        margin: 3rem 0;
    }
    .aboutus-box {
        width: 100%;
        flex-direction: column;
    }
    .programmes-text h3 {
        font-size: 1.6rem;
    }
    .programmes-text {
        width: 155px;
    }
    .container {
        padding: 1.5rem;
      }
    
      .ci-circle {
        display: none;
      }
    
      .square,
      .big-circle {
        display: none;
      }
    
      form,
      .contact-info {
        padding: 1.7rem 1.6rem;
      }
    
      .text,
      .information,
      .social-media p {
        font-size: 2rem;
      }
    
      .c-title {
        font-size: 2.6rem;
      }
    
      .social-icons a {
        width: 40px;
        height: 40px;
        font-size: 2rem;
      }
      .input {
        padding: 1.45rem 1.2rem;
      }
    
      .c-btn {
        padding: 1.45rem 1.2rem;
      }
      .alumni-btn {
        font-size: 1.7rem;
    }
    .alumni-img {
        width: 170px;
    }
    
}